.forms__container{
    display: flex;
    flex-direction: column;

    text-align: center;

    margin-top: 1.5rem;
}

.forms__textarea{
    border: 1px solid var(--preto);
    border-radius: 5px; 

    padding: 0.2rem;
    resize: none;
}

.forms__textarea:hover{
    border-color: var(--rosa);
}

.forms__text{
    padding-bottom: 0.4rem;
}

.forms__button{
    border: 1px solid var(--rosa);
    border-radius: 5px;
    background-color: #ffd6fc;

    font-weight: bold;
    font-size: 18px;
    text-align: center;
}